body {
    margin: 0;
    padding: 0;
    background-color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


a{
    text-decoration: none;
}

:root{
    --roboto-font: 'Roboto', sans-serif;
    --hammer-font: 'Hammersmith One', sans-serif;
    --display-font: 'Playfair Display', serif;;
    --main-color: #2cbbcd;
}

button{
    width: auto;
    min-width: 120px;
    height: 40px;
    color: var(--main-color);
    font-size: 16px;
    background-color: transparent;
    border: 1px solid var(--main-color);
    text-transform: uppercase;
    font-weight: bolder;
    font-family: var(--hammer-font);
    
    border-radius: 4px;
}

button:hover{
    cursor: pointer;
    background-color: var(--main-color);
    border: solid 1px white;
    color: white;
}


header {
    width: 100%;
    height: 100vh;
    background-color: teal;
}

/*Header section end*/


/*NAV BAR*/
nav { 
    top:0;
    z-index: 999;
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-content {
    
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-content .logo{
    margin-right: 10px;
    display: flex;
    font-size: 30px;
    color: var(--main-color);
    font-weight: 100;
    font-family: var(--roboto-font);
    justify-content: center;
    align-items: center;
}


.nav-content .logo img{
    width: 45px;
    height: 50px;
}

.nav-content ul{
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: space-around;
    width: 60%;
    align-items: center;
}

.nav-content ul li{
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    min-width: 50px;
    font-size: 13px;
    font-family: var(--roboto-font);
}

.nav-content ul li a{
    text-decoration: none;
    color: white;

}

.nav-content ul li a:hover{
    color: #00e0d0 !important; 
}

/*NAV BAR end*/

/*Header section start*/

.header-content{
    z-index: 0  ;
    
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(9,5,47, 0.85), rgb(49,29,94, 0.85)),url("./img/team/background.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.header-content h2{
    font-family: var(--display-font);
    font-weight: bold;
    text-transform: capitalize;
    font-size: 32px;
    color: white;
    margin: 0;
}
.header-content span{
    width: 50px;
    height: 1px;
    background-color: var(--main-color);
    margin: 30px 0 35px 0;
}
.header-content p{
    margin: 0 0 50px 0;
    width: 50%;
    text-align: center;
    font-family: var(--roboto-font);
    font-size: 14px;
    line-height: 24px;
    color: white;
}

.header-content ul{
    
    display: flex;
    list-style: none;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 0 70px 0 ;
   
}

.header-content ul li{
    
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px 0 5px;
    background-color: transparent;
    border: 1px solid white ;

}
.header-content ul li.selected{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}


/*About Section start*/
.about{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.about .about-content{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;

}

.about .about-content .text{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 70px 0 70px 0;
    justify-content: space-between;
    align-items: center;
}

.about .about-content .text .left{
    
    height: 100%;
}

.about .about-content .text .right{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start ;

}

.about .about-content .text .right h2{
    margin: 0;
    padding: 0;
    font-family: var(--display-font);
    font-size: 22px;
    color: #413d4b;
    text-transform: uppercase;

}
.about .about-content .text .right p{
    font-size: 14px;
    line-height: 22px;
    font-family: var(--roboto-font);
    font-weight: lighter;
    color: #413d4b;
    
}

.about .video{
    width: 100%;
    height: 100%;
    position: relative;
}

.about .video .vid{
    width: 100%;
    height: auto;
}

.about .video .vid img{
    width: 100%;
    height: 100%;

}

.about .video .vid .overflow{
    width: 100%;
    height: 100%;
    background-image: -moz-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    opacity: 0.851;
    position: absolute;  
}
.about .video .video-text{
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about .video .video-text .play .play-outline{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.about .video .video-text .play img{
    width: 40px;
    height: 45px;
    margin: 0;
    padding: 0;
}

.about .video .video-text p{
    color: white;
    font-weight: bolder;
    font-family: var(--roboto-font);
    font-size: 16px;
    text-transform: uppercase;
}

/*About Section end*/


/*Expertise Section start*/
.expertise{
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.expertise .exp-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
}
.expertise .exp-content .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0 0 0;
    margin: 0;

}


.expertise .exp-content .text h2{
    color: black;
    text-transform: uppercase;
    font-size: 22px;
    font-family: var(--display-font);
    font-weight: bold;
    padding: 0;
    margin: 0;

}
.expertise .exp-content .text p{
    color: #2f2d35;
    font-size: 14px;
    font-family: var(--display-font);
    padding: 20px 0 20px 0;
    margin: 0;
}

.expertise .exp-content .text span.line{
    width: 50px;
    height: 2px;
    background-color: #2f2d35;
}

.expertise .exp-content .grid{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0 70px 0;
    margin: 0;
    
}   

.expertise .exp-content .grid .top{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}

.expertise .exp-content .grid .item{
    width: 320px;
    height: 250px;
    flex: 1 1 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #ebebeb;

}



.expertise .exp-content .grid .item h4{
    margin: 30px 0 30px 0;
    font-family: var(--roboto-font);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;


}
.expertise .exp-content .grid .item p{
    margin: 0;
    font-family: var(--roboto-font);
    font-size: 14px;
    line-height: 22px;
    color: #333333;

}

/*Expertise Section end*/


/*Team section start*/
.team{
    height: auto;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(9,5,47, 0.85), rgb(49,29,94, 0.85)),url("./img/team/background.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team .team-content{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team .team-content .text{
    padding: 70px 0 70px 0;
    width: 100%;
    height: 100%;
    font-family: var(--display-font);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.team .team-content .text h2{
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.team .team-content .text p{
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.team .team-content .text span.line{
    width: 50px;
    height: 2px;
    background-color: white;
}



.team .team-content .team-members{
    width: auto;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.team .team-content .team-members .member{
    margin: 0 5px 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-transform: uppercase;
    font-family: var(--roboto-font);
    border-bottom: 1px solid #78758b;
}

.team .team-content .team-members .member h4{
    margin: 20px 0 10px;
    font-weight: bold;
    font-size: 14px;

}

.team .team-content .team-members .member p{
    margin: 0 0 30px 0;
    font-weight: lighter;
    font-size: 13px;

}


.team .team-content .action{
    padding: 70px 0 70px 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.team .team-content .action p{
    margin: 0 0 30px 0;
    font-size: 14px;
    font-family: var(--roboto-font);
    color: white;

}

/*Team section end*/

/*Work section start*/


.works{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.works .our{
    width: 60%;
    padding: 70px 0 70px 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.works .our h2{
    text-transform: uppercase;
    font-family: var(--display-font);
    font-size: 22px;
    font-weight: bold;

}

.works .our p a{
    font-family: var(--roboto-font);
    font-size: 14px;
    color: black;
}

.works .works-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.works .works-content .grid{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}
.works .works-content .grid .grid-item{
    flex: 1 1 16%;
    width: 100%;
    height: auto;
}
.works .works-content .grid .grid-item img{
    width: 100%;
    height: 100%;

}

.works .works-content button{
    margin: 70px 0 70px 0;

}


/*Work section end*/


/*Testimonials section start*/

.testimonials{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(9,5,47, 0.85), rgb(49,29,94, 0.85)),url("./img/testimoles/background.png");
    background-size: cover;
}


.testimonials .testi-content{
    width: 60%;
    height: 100%;
    padding: 0 0 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.testimonials .testi-content .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimonials .testi-content .text .quote{
    width: 80%;
    font-family: var(--display-font);
    font-size: 16px;
    line-height: 26px;
    color: white;
    margin: 45px 0 45px 0;
}

.testimonials .testi-content .text span{
    font-family: var(--display-font);
    font-size: 100px;
    color: white;
    width: 100%;
    height: 40px;
    margin: 70px 0 0 0;
    
}

.testimonials .testi-content .text h4{
    margin: 10px 0 5px 0;
    color: white;
    font-size: 14px;
    line-height: 22px;
    font-family: var(--roboto-font);
    text-transform: uppercase;
    font-weight: bold;
}

.testimonials .testi-content .text .position{
    color: white;
    margin: 0 0 50px 0;
    font-size: 13px;
    line-height: 22px;
    font-family: var(--roboto-font);
    text-transform: uppercase;
}


.testimonials .testi-content .users{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.testimonials .testi-content .users ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0 20px 0 20px;
}

.testimonials .testi-content .users ul img{
    margin: 10px;
    padding: 0;
}


/*Testimonials section end*/


/*Contacts section start*/

.contacts{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts .contacts-content{
    width: 60%;
    height: 100%;
    padding: 70px 0 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts .contacts-content form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: 0 100px 0 0 ;
    padding: 0;
}
.contacts .contacts-content form h3{
    align-self: flex-start;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    font-family: var(--display-font);

}
.contacts .contacts-content form input#name, input#email, input#text{
    width: 100%;
    height: 45px;
    margin: 12px 5px 12px 5px;
    
    border: 1px solid #e5e5e5;

}

.contacts .contacts-content form input#yourMessage{
    width: 100%;
    height: 200px;
    margin: 12px 5px 12px 5px;
    
    border: 1px solid #e5e5e5;
}
.contacts .contacts-content form input#buttn{
    align-self: flex-start;
    width: auto;
    min-width: 120px;
    height: 40px;
    color: var(--main-color);
    font-size: 16px;
    background-color: transparent;
    border: 1px solid var(--main-color);
    text-transform: uppercase;
    font-weight: bolder;
    font-family: var(--hammer-font);
    
    border-radius: 4px;
}

.contacts .contacts-content form input#buttn:hover{
    cursor: pointer;
    background-color: var(--main-color);
    border: solid 1px white;
    color: white;
}


.contacts .contacts-content .partners{
    width: 50%;
    margin: 0 5px 0 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    text-transform: uppercase;
}
.contacts .contacts-content .partners h3{
    font-family: var(--display-font);
    font-weight: bold;
    font-size: 22px;
}
.contacts .contacts-content .partners .photos{
    height: auto;
    width: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts .contacts-content .partners .photos img{
    flex: 0 0 35%;
    width: 100%;
    height: 100%;
    margin: 25px;
}


