@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
:root {
  --slider: 0;
}
body {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #555556;
}
header .headerContent {
  height: 100%;
  width: 100%;
  background-color: #555556;
}
button {
  border-radius: 3px;
  width: 170px;
  height: 50px;
  color: white;
  background-color: #998675;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid #736357;
}
button:hover {
  background-color: #736357;
  color: #c7b299;
  border: 3px solid #998675;
}
nav {
  width: 100%;
  height: 140px;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .navContent {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav .navContent .menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: end;
  padding-right: 55px;
}
nav .navContent .menu li {
  min-width: 20px;
  padding: 0 10px 0 10px;
  list-style: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
nav .navContent .menu li a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
nav .navContent .menu li a:hover {
  color: #c7b299;
}
nav .navContent .chart {
  padding: 0 5px 0 20px;
}
nav .navContent .chart {
  padding: 0 20px 0 0;
}
nav .navContent .logo {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .navContent .logo p {
  font-size: 34px;
  color: white;
  font-family: 'Raleway', sans-serif;
}
.scroll {
  background-color: #555556 !important;
  transition: background-color 200ms linear;
}
.services {
  height: 375px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .services-content {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.services .services-content .element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
}
.services .services-content .element h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}
.services .services-content .element svg {
  fill: #555556;
}
.services .services-content .element p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-align: center;
}
.services .services-content .element .line {
  width: 70px;
  height: 3px;
  background-color: #fbfaf8;
  margin-top: 10px;
}
.services .services-content .element:hover {
  color: #c7b299;
}
.services .services-content .element:hover .line {
  background-color: #c7b299;
}
.services .services-content .element:hover svg {
  fill: #c7b299;
}
.waxom-realization {
  height: 700px;
  width: 100%;
  background-color: #fbfaf8;
}
.text-boxes {
  height: 150px;
  width: 100%;
  background-image: url("../img/Background.png");
  display: flex;
  justify-content: center;
  align-self: center;
}
.text-boxes .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 100%;
}
.text-boxes .content .text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #615855;
  margin-top: 5px;
}
.text-boxes .content .text h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  margin-bottom: 5px;
  color: white;
}
.text-boxes .content .text span {
  color: #c7b299;
}
.latest-projects {
  height: 1150px;
  width: 100%;
  background-color: white;
}
.video-presentation {
  height: 700px;
  width: 100%;
  background-color: #555556;
}
.video-presentation .video {
  width: 100%;
  height: 100%;
  background-image: url("../img/video.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-presentation .video .content {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video-presentation .video .content h3 {
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: white;
}
.video-presentation .video .content .text {
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 50%;
  line-height: 28px;
}
.video-presentation .video .content .time {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #c7b299;
  font-weight: bold;
}
.video-presentation .video .content .play {
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-presentation .video .content .play .circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0.2;
  background-color: black;
}
.exelent-mobile {
  height: 700px;
  width: 100%;
  background-color: #fbfaf8;
}
.counters {
  height: 300px;
  width: 100%;
  background-image: url(../img/Background.png);
  background-color: #555556;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counters .content {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counters .content .element {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.counters .content .element .num {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  color: white;
  margin: 10px 10px 5px 10px;
}
.counters .content .element .title {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #c7b299;
  text-transform: uppercase;
  margin: 5px 10px 10px 10px;
}
.counters .content .element .line {
  height: 3px;
  width: 30px;
  background-color: white;
  margin-top: 15px;
}
.slider {
  width: 370px;
  height: 220px;
  overflow: hidden;
}
.slider .slides {
  width: 200%;
  height: 220px;
  display: flex;
}
.slider .slides .slide {
  width: 50%;
  transition: 2s;
}
.slider .slides .slide img {
  width: 370px;
  height: 220px;
}
.first {
  margin-left: var(--slider);
}
.recent-photos {
  height: 750px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recent-photos .content {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recent-photos .content .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.recent-photos .content .title h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #555556;
  margin-bottom: 20px;
}
.recent-photos .content .title p {
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
  text-align: center;
}
.recent-photos .content .posts {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.recent-photos .content .posts .post {
  width: 370px;
  height: 400px;
  background-color: white;
  border: #f8f8f8 1px solid;
  transition: 0.5s ease-out all;
}
.recent-photos .content .posts .post .text {
  padding: 0 30px 0 30px;
}
.recent-photos .content .posts .post .text p {
  font-size: 14px;
  line-height: 22px;
  font-family: 'Montserrat', sans-serif;
  color: #8c8c8c;
  transition: 0.5s ease-out all;
}
.recent-photos .content .posts .post .text h3 {
  margin-top: 30px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #555556;
  transition: 0.5s ease-out all;
}
.recent-photos .content .posts .post .text a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #c7b299;
  font-weight: 300;
  margin-bottom: 30px;
}
.recent-photos .content .posts .post .text a img {
  padding-left: 10px;
}
.recent-photos .content .posts .post .photo {
  position: relative;
}
.recent-photos .content .posts .post .photo .calendar {
  width: 50px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  padding: 20px 0 0 20px;
}
.recent-photos .content .posts .post .photo .calendar .date {
  width: 50px;
  height: 35px;
  background-color: #363636;
  border-radius: 3px 3px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: white;
  transition: 0.5s ease-out all;
}
.recent-photos .content .posts .post .photo .calendar .month {
  width: 50px;
  height: 25px;
  background-color: #252525;
  border-radius: 0 0 3px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: white;
  transition: 0.5s ease-out all;
}
.recent-photos .content .posts .post .photo img {
  transition: 0.5s ease-out all;
}
.recent-photos .content .posts .post:hover {
  border: #362f2d 1px solid;
  background-color: #362f2d;
}
.recent-photos .content .posts .post:hover .calendar .date {
  background-color: #c7b299;
}
.recent-photos .content .posts .post:hover .calendar .month {
  background-color: #a48d72;
}
.recent-photos .content .posts .post:hover .text p {
  color: white;
}
.recent-photos .content .posts .post:hover .text h3 {
  color: #c7b299;
}
.recent-photos .content .posts .post:hover .photo img {
  filter: brightness(50%);
}
.recent-photos .content .arrows {
  display: flex;
  flex-direction: row;
}
.recent-photos .content .arrows img {
  margin: 5px;
}
.partners {
  height: 100%;
  width: 100%;
  background-color: #555556;
  min-height: 490px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/partners/background.png);
}
.partners .partners-content {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 50px;
}
footer {
  height: 620px;
  width: 100%;
  background-color: #191919;
  clear: both;
  display: flex;
  flex-direction: column;
}
footer .footer-content {
  width: 100%;
  height: 100%;
}
footer .copyright {
  width: 100%;
  height: 110px;
  background-color: black;
}
